name: build on change

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:
  repository_dispatch:
    types: nginx

jobs:
  nginx:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: docker login
        run: docker login -u ${{ secrets.DOCKERUSERNAME }} -p ${{ secrets.DOCKERAPIKEY }}
      - name: treehouses nginx
        run: |
          export DOCKER_CLI_EXPERIMENTAL=enabled
          repo="treehouses/nginx"
          source .github/workflows/utils.sh
          echo "amd64"
          alpine_x86_sha=$(get_variant_sha "alpine" "latest" "amd64")
          echo $alpine_x86_sha
          variant_nginx_x86_sha=$(get_manifest_sha "$repo:latest" "amd64")
          echo $variant_nginx_x86_sha
          echo "arm"
          balena_rpi_sha=$(get_tag_sha "balenalib/raspberry-pi-alpine" "latest")
          echo $balena_rpi_sha
          variant_rpi_sha=$(get_manifest_sha "$repo:latest" "arm")
          echo $variant_rpi_sha
          echo "arm64"
          alpine_arm64_sha=$(get_variant_sha "alpine" "latest" "arm64")
          echo $alpine_arm64_sha
          variant_alpine_arm64_sha=$(get_manifest_sha "$repo:latest" "arm64")
          echo $variant_nginx_arm64_sha
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
          build_image "treehouses/alpine:latest" amd64 "$repo"
          build_image "treehouses/alpine:latest" arm "$repo"
          build_image "treehouses/alpine:latest" arm64 "$repo"
          echo "change"
          flag=$(compare_sha  "$alpine_x86_sha" "$variant_nginx_x86_sha" "$balena_rpi_sha" "$variant_rpi_sha" "$alpine_arm64_sha" "$variant_nginx_arm64_sha")
          echo $flag
          if [[ $flag == true ]]; then
            echo "tags"
            tag="$(date +%Y%m%d%H%M)"
            echo $tag
            docker manifest create $repo:$tag $repo:amd64 $repo-tags:arm $repo-tags:arm64
            docker manifest annotate $repo:$tag $repo:amd64 --arch amd64
            docker manifest annotate $repo:$tag $repo-tags:arm64 --arch arm64
            docker manifest annotate $repo:$tag $repo-tags:arm --arch arm
            docker manifest inspect $repo:$tag
            docker manifest push $repo:$tag
            tag2="latest"
            echo $tag2
            docker manifest create $repo:$tag2 $repo-tags:amd64 $repo-tags:arm $repo-tags:arm64
            docker manifest annotate $repo:$tag2 $repo-tags:amd64 --arch amd64
            docker manifest annotate $repo:$tag2 $repo-tags:arm64 --arch arm64
            docker manifest annotate $repo:$tag2 $repo-tags:arm --arch arm
            docker manifest inspect $repo:$tag2
            docker manifest push $repo:$tag2
          else
            echo "no changes"
          fi
